//- blok content needs to be placed right. it matters how many spaces you have.
doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    ul.navigationBar
      li.navigationList
        a.navigationText(href='/') Welcome
      li.navigationList
        a.navigationText(href='/admin') Admin
      li.navigationList
        a.navigationText(href='/exercise') Exercise
      li.navigationList
        a.navigationText(href='/about') About
      li.navigationList
        a.navigationText(href='/country') country   
    block content