doctype html
html
    head
        meta(charset='utf-8')
        title= 'To Do'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            nav
                ul
                    li
                        a(href='/users/admin') Admin
                    li
                        a(href='/todolist') To Do List
                    li
                        a(href='/addtodo') Add To Do
                    li
                        a(href='/users/logout') Logout
        block content