doctype html
html
    head
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/page.js')
    body
        header
            nav
                ul
                    li 
                        a(href='/admin') Admin
                    li
                        a(href='/') To Do List
                    li
                        a(href='/addtodo') Add To Do
                    li
                        a(href='/logout') Logout

        block content