extends loginlayout

block content
    main.mainsignup
        div.signup_container
            h2.h2login= subtitle
            div.container_login
                form(id="registerForm" action="/users/signup" method="Post")
                    div.form_pair_signup
                        label.label_signup_style Firstname
                        input(class="inputstyle" type="text" name="firstname" placeholder="Firstname")
                    div.form_pair_signup
                        label.label_signup_style Lastname
                        input(class="inputstyle" type="text" name="lastname" placeholder="Lastname")
                    div.form_pair_signup
                       label.label_signup_style Username
                        input(class="inputstyle" type="text" name="username" placeholder="Username")
                    div.form_pair_signup
                        label.label_signup_style E-mail
                        input(class="inputstyle" type="text" name="email" placeholder="E-mail")
                    div.form_pair_signup
                        label.label_signup_style Phone number
                        input(class="inputstyle" type="text" name="phonenumber" placeholder="Phone number")
                    div.form_pair_signup
                        label.label_signup_style Password
                        input(class="inputstyle" type="text" name="password" placeholder="Password")
                    div.form_pair_signup
                        label.label_signup_style Repeat password
                        input(class="inputstyle" type="text" name="password1" placeholder="Repeat password")                   
                    div.form_pair_signup
                        a(class="inputstyle" href="http://localhost:3000/users/login") Already account?
                    div.form_pair_signup
                        input(class="input_button_signup" type="submit" value="Signup")    
    include footer.pug     