body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #ffffff;
}

/*---------------------------------Header-------------------------------------*/

header{
    width:100%;
    height:80px;
    background-color:#AE927E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header a{
    text-decoration: none;
    color:#ffffff;
    font-size: 20px;
}

header a:hover{
    text-decoration: underline;
}

header ul{
    list-style: none;
    padding-right:4em;
    margin: 0;
    display: flex;
}

header li{
    padding:0 1em;
    
}

main{
    width:100%;
    height:90vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:#FBF2E1;
}

/*---------------------------------Front page-------------------------------------*/


/*---------------------------------Log in-------------------------------------*/


/*---------------------------------sign up-------------------------------------*/


/*---------------------------------To Do List-------------------------------------*/


/*---------------------------------Add To Do-------------------------------------*/

.list_container{
    width:750px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: #AE927E;
    padding:20px;
}

#add_form{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.form_pair input{
    width:200px;
    height:40px;
    margin:1em 0;
    border: 1px solid #000000;
}

.form_pair label{
    margin-right:100px;
    color:#ffffff;
}

#description{
    height:80px;
}

.submit{
    display:flex;
    justify-content:center;
}

#add_btn{
    width:150px;
    height:50px;
    background-color: #FBF2E1;
    border: 1px solid #000000;
    margin:20px 0;
    cursor: pointer;
}